<li>
	{{name}}

	<button class="devourIt" data-id="{{id}}" data-newdevourIt="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}DEVOURED!{{/if}}
	</button>
	<button class="devoured-burger" data-id="{{this.id}}">DEVOUR!</button>
</li>